@use "../../../assets/styles/variables" as var;
@use "sass:color";

.custom_table_container {
  overflow: auto;
  max-height: 70vh;
  width: 100%;
}

.custom_table {
  color: var.$secondary-color;
  min-width: 800px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: auto;
}

.custom_table td {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.custom_table th {
  font-size: 1.1rem;
  position: sticky;
  top: 0;
  background-color: var.$tertiary-color;
  z-index: 2;
}

.custom_table th,
.custom_table td {
  text-align: left;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid color.adjust(var.$light-gray-color, $lightness: -10%);
}

.custom_table tr:last-child td {
  border-bottom: none;
}
