@use "../../../../assets/styles/variables" as var;

.button_collapse {
  font-size: 1.7rem;
  border-radius: 50%;
  padding: 1rem;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: var.$secondary-color;
  }
}