<configuration>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="UPLOAD_ERRORS" class="ch.qos.logback.core.FileAppender">
        <file>logs/upload-errors.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="br.com.cotrisoja.familyGroups.Service.FileService" level="WARN" additivity="false">
        <appender-ref ref="UPLOAD_ERRORS" />
        <appender-ref ref="Console" />
    </logger>

    <root level="INFO">
        <appender-ref ref="Console" />
    </root>

</configuration>
