@use "./variables" as var;

.family-group-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_select {
  color: var.$tertiary-color;
  background-color: var.$secondary-color;
  font-family: var.$font-family-base;
  font-size: var.$font-size-base;
  font-weight: var.$font-weight-bold;
  padding: 0.5rem 1.25rem;
  transition: background-color 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(var.$primary-color, 0.2);
  }
}

.btn_create {
  color: var.$tertiary-color;
  background-color: var.$agree-color;
  font-family: var.$font-family-base;
  font-size: var.$font-size-base;
  font-weight: var.$font-weight-bold;
  padding: 0.5rem 1.25rem;
  border-radius: 0 8px 8px 0;
  transition: background-color 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(var.$primary-color, 0.25);
  }
}

.input_readonly {
  background-color: var.$tertiary-color;
  color: var.$secondary-color;
  padding: 0.5rem 1rem;
  font-family: var.$font-family-base;
  font-size: var.$font-size-base;
  font-weight: var.$font-weight-regular;
  border-radius: 8px 0 0 8px;
  cursor: not-allowed;
  user-select: none;
  width: 25vw;
  box-shadow: inset 0 0 0 2px var.$secondary-color;
  border: none;
}
