@use "./variables" as var;
@use "sass:color";

.sidebar {
  background-color: var.$primary-color;
  min-height: 100vh;
  width: 250px;
  padding: 20px 10px;
  transition: width 0.3s ease;

  * {
    color: var.$tertiary-color;
  }

  & li {
    margin-bottom: 5px;
    padding: 0.8rem 1rem;
    background-color: transparent;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    font-weight: var.$font-weight-medium;
    font-size: 1.1rem;
    display: flex;
    justify-content: start;
    transition: justify-content 0.3s;

    &:hover {
      background-color: var.$secondary-color;
      cursor: pointer;
    }

    &.active {
      background-color: var.$secondary-color;
    }
  }
}

.sidebar.collapsed {
  width: 80px;
}

.sidebar.collapsed .logo_box {
  justify-content: center;
}

.sidebar.collapsed li {
  justify-content: center;
}

.logo {
  height: 50px;
  width: auto;
}

.logo_box {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var.$tertiary-color;
}

.btn_logout {
  width: 100%;
  padding: 0.75rem 1rem;
  background-color: var.$secondary-color;
  color: var.$tertiary-color;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;

  &:hover {
    background-color: color.adjust(var.$secondary-color, $lightness: 2%);
  }

  &:active {
    transform: translateY(0);
  }
}

.back_header {
  margin-bottom: 1rem;
  border-bottom: 1px solid var.$tertiary-color;
  padding-bottom: 1rem;
}

.back_button {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background-color: var.$secondary-color;
  color: var.$tertiary-color;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background-color 0.3s;

  svg {
    font-size: 1.3rem;
    min-width: 20px;
  }

  &:hover {
    background-color: rgba(var.$secondary-color, 0.85);
  }
}

.sidebar.collapsed .back_button {
  padding: 0.3rem;
  justify-content: center;
}

.pageable {
  color: var.$tertiary-color;
  display: flex;
  align-items: center;

  & button {
    border: 1px solid var.$secondary-color;
    padding: 0.4rem 0.6rem;
    background: var.$secondary-color;
    color: var.$tertiary-color;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;

    &:hover {
      background-color: rgba(var.$secondary-color, 0.85);
      transform: scale(1.05);
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
      background-color: var.$secondary-color;
      transform: none;
    }
  }

  .current_page {
    padding: 0.4rem 0.6rem;
    border-top: 1px solid var.$secondary-color;
    border-bottom: 1px solid var.$secondary-color;
    font-weight: var.$font-weight-bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & button:first-of-type {
    border-radius: 8px 0 0 8px;
  }

  & button:last-of-type {
    border-radius: 0 8px 8px 0;
  }
}

.report-title {
  font-size: var.$font-size-lg;
  padding: 0;
  margin: 0;
}

.report-header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var.$light-gray-color;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}