@use "./variables" as var;
@use "sass:color";

.sidebar {
  background-color: var.$primary-color;
  min-height: 100vh;
  padding: 20px;
  overflow-y: hidden;

  * {
    color: var.$tertiary-color;
  }
}

.sidebar_menu {
  max-height: 60vh;
  overflow-y: auto;

  li {
    margin-bottom: 5px;
    padding: 0.8rem 1rem;
    background-color: transparent;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    font-weight: var.$font-weight-medium;
    font-size: 1.1rem;
  }

  li:hover {
    cursor: pointer;
    background-color: color.adjust(var.$secondary-color, $lightness: 2%);
  }

  & .active {
    background-color: var.$secondary-color;
  }
}

.logo {
  width: 140px;
}

.logo_box {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var.$tertiary-color;
}

.btn_logout {
  width: 100%;
  padding: 0.75rem 1rem;
  background-color: var.$secondary-color;
  color: var.$tertiary-color;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;

  &:hover {
    background-color: color.adjust(var.$secondary-color, $lightness: 2%);
  }

  &:active {
    transform: translateY(0);
  }
}

.back_header {
  margin-bottom: 1rem;
  border-bottom: 1px solid var.$tertiary-color;
  padding-bottom: 1rem;

  .back_button {
    padding: 0.5rem 1rem;
    border-radius: 8px;
    background-color: var.$secondary-color;
    color: var.$tertiary-color;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: rgba(var.$secondary-color, 0.85);
    }
  }
}

.pageable {
  color: var.$tertiary-color;
  display: flex;
  align-items: center;

  & button {
    border: 1px solid var.$secondary-color;
    padding: 0.4rem 0.6rem;
    background: var.$secondary-color;
    color: var.$tertiary-color;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;

    &:hover {
      background-color: rgba(var.$secondary-color, 0.85);
      transform: scale(1.05);
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
      background-color: var.$secondary-color;
      transform: none;
    }
  }

  .current_page {
    padding: 0.4rem 0.6rem;
    border-top: 1px solid var.$secondary-color;
    border-bottom: 1px solid var.$secondary-color;
    font-weight: var.$font-weight-bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & button:first-of-type {
    border-radius: 8px 0 0 8px;
  }

  & button:last-of-type {
    border-radius: 0 8px 8px 0;
  }
}

.report-title {
  font-size: var.$font-size-lg;
  padding: 0;
  margin: 0;
}

.report-header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var.$light-gray-color;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
