$primary-color: #01634a;
$secondary-color: #004938;
$tertiary-color: rgb(226, 226, 226);
$red-color: #dc3545;
$edit-color: #ff9800;
$agree-color: #098a3a;
$light-gray-color: #e6ebe8;
$gray-color: #797a79;

$font-family-base: "Roboto", sans-serif;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-base: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.5rem;
$font-size-xxl: 2rem;
